* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*1rem = 10px, 10px/16px = 62.5%*/ }

body {
  background-color: goldenrod;
  color: black; }

.container {
  display: grid; }

.nav-bar {
  grid-column: 1/2;
  grid-row: 1/3;
  padding-left: 3rem;
  padding-top: 3rem;
  position: fixed;
  width: 20rem; }
  .nav-bar--logo {
    height: 20rem;
    width: 20rem; }
  .nav-bar--mainHeader {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 3rem; }
  .nav-bar--navigationLinks {
    list-style: none; }
    .nav-bar--navigationLinks li a {
      text-decoration: none;
      color: black;
      line-height: 5rem;
      cursor: pointer; }
  .nav-bar--icon1 {
    color: #3b5998;
    margin-right: 2rem; }
  .nav-bar--icon2 {
    color: #405de6; }

.main {
  display: grid;
  grid-column: 1 / 5;
  grid-row: 1 /5;
  margin-left: 26rem;
  background-color: pink; }

footer {
  padding: 1rem 1rem;
  border: 2px solid black;
  display: flex;
  grid-column: 1 / span 4;
  grid-row: 5 / 6; }

.companyInfo--header {
  text-decoration: underline;
  font-weight: 600;
  font-size: 2rem; }

.companyInfo--bio {
  width: 60%; }

.companyContact--header {
  text-decoration: underline;
  font-weight: 600;
  font-size: 2rem; }

.companyContact--phone {
  text-decoration: underline; }

.companyContact--email {
  text-decoration: underline; }

.companyInstagram--header {
  text-decoration: underline;
  font-weight: 600;
  font-size: 2rem; }

.companyInstagram--bio {
  width: 60%; }

.main--topSection {
  position: relative; }

.main--mainImage {
  height: 96vh;
  width: 100%; }

.main--helpfulHints {
  color: yellow;
  font-size: 10rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.main--tipsTricks {
  display: grid;
  grid-template-areas: "head head" "column column";
  border: 0.5rem solid black;
  border-radius: 150px;
  margin: 5rem; }
  .main--tipsTricks--title {
    grid-area: 1 / span 2;
    text-align: center;
    padding: 1rem;
    justify-content: center;
    align-content: center; }
  .main--tipsTricks--header {
    text-decoration: underline;
    padding: 1rem; }
  .main--tipsTricks--first {
    grid-area: 2/1;
    display: grid;
    justify-content: center;
    align-content: center; }
    .main--tipsTricks--first-header {
      text-decoration: underline;
      font-weight: 700;
      font-size: 2rem;
      padding-bottom: 1rem; }
    .main--tipsTricks--first-text {
      padding-bottom: 1rem; }
    .main--tipsTricks--first-image {
      height: 40rem;
      width: 50rem; }
  .main--tipsTricks--sidebar--story {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    padding: 2rem; }
  .main--tipsTricks--sidebar--text {
    width: max-content;
    padding-left: 2rem; }
    .main--tipsTricks--sidebar--text--subhead {
      text-decoration: underline;
      font-size: 2rem; }
    .main--tipsTricks--sidebar--text--description {
      margin-top: 1rem;
      margin-bottom: 1rem; }
  .main--tipsTricks--sidebar-image {
    height: 20rem;
    width: 20rem; }

.main--acc--content {
  margin: 15rem; }

.aboutus {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  margin-bottom: 20rem;
  column-gap: 5rem; }
  .aboutus--header {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3rem; }
  .aboutus--image {
    border-radius: 100rem;
    height: 50rem;
    width: 50rem;
    grid-column: 1/2;
    grid-row: 2/3; }
  .aboutus--info {
    grid-column: 2/3;
    grid-row: 2/3;
    max-width: 50rem;
    margin-top: 40%;
    font-size: 2rem; }
    .aboutus--info--line {
      border: solid 0.1rem black;
      margin: 1rem 0rem;
      width: 70%; }

.contactus {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content min-content; }
  .contactus--getintouch--title {
    text-decoration: underline;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem; }
  .contactus--mailus {
    width: 50rem; }
    .contactus--mailus--title {
      text-decoration: underline;
      font-weight: 700;
      font-size: 3rem;
      text-align: center; }
    .contactus--mailus--form {
      max-width: 100%;
      margin: 2rem 3rem;
      text-align: center; }

input {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 3rem; }
  input:not(:last-child) {
    margin-bottom: 1rem; }
  input::placeholder {
    color: red; }

.serv-title {
  text-align: center;
  text-decoration: underline;
  font-size: 7rem;
  font-weight: 700;
  margin-top: 9rem; }

.service {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: repeat(4, min-content);
  margin: 10rem 5rem;
  gap: 5rem 10rem; }
  .service--box {
    display: grid;
    text-align: center;
    width: 50rem;
    justify-content: center;
    align-content: center; }
    .service--box--thead {
      font-weight: 700;
      text-decoration: underline;
      padding-bottom: 2rem; }
    .service--box--text {
      text-align: justify;
      padding-bottom: 2rem;
      margin: 0rem 2rem; }
    .service--box--moredetails {
      border: 2px red solid;
      background-color: red;
      color: white;
      width: auto;
      margin: 0rem 2rem; }
  .service--image {
    max-width: 50rem;
    max-height: 40rem; }

.GT-title {
  text-align: center;
  text-decoration: underline;
  font-size: 7rem;
  font-weight: 700;
  margin-top: 9rem; }

.galleryandreview {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-template-rows: repeat(6, min-content);
  margin: 10rem 8rem;
  gap: 2rem; }
  .galleryandreview--images {
    max-width: 30rem;
    max-height: 30rem; }

#img {
  border-radius: 20rem; }
  #img-1 {
    grid-column: 1/2;
    grid-row: 5/7;
    max-width: 40rem;
    max-height: 100%;
    border-radius: 10rem; }
  #img-2 {
    grid-column: 1/2;
    grid-row: 3/4; }
  #img-3 {
    grid-column: 1/2;
    grid-row: 1/2; }
  #img-4 {
    grid-column: 2/3;
    grid-row: 1/2; }
  #img-5 {
    grid-column: 2/3;
    grid-row: 3/4; }
  #img-6 {
    grid-column: 4/5;
    grid-row: 1 / 4;
    max-width: 40rem;
    max-height: 100%;
    border-radius: 10rem; }
  #img-7 {
    grid-column: 2/3;
    grid-row: 1/2; }
  #img-8 {
    grid-column: 3/4;
    grid-row: 1/2; }
  #img-9 {
    grid-column: 3/4;
    grid-row: 3/4; }
  #img-10 {
    grid-column: 2/4;
    grid-row: 6/7; }
  #img-11 {
    grid-column: 2/4;
    grid-row: 5/6; }
  #img-12 {
    grid-column: 3 /4;
    grid-row: 6/7; }
  #img-13 {
    grid-column: 3 / 4;
    grid-row: 5/6; }
  #img-14 {
    grid-column: 4 /5;
    grid-row: 6/7; }
  #img-14 {
    grid-column: 4 / 5;
    grid-row: 5/6; }

.testimonal {
  text-align: justify; }
  .testimonal-1 {
    grid-column: 1/2;
    grid-row: 2/3; }
  .testimonal-2 {
    grid-column: 2/3;
    grid-row: 2/3; }
  .testimonal-3 {
    grid-column: 2/3;
    grid-row: 4/5; }
  .testimonal-4 {
    grid-column: 3/4;
    grid-row: 2/3; }
  .testimonal-5 {
    grid-column: 1/2;
    grid-row: 4/5; }
  .testimonal-6 {
    grid-column: 3/4;
    grid-row: 4/5; }
  .testimonal-7 {
    grid-column: 4/5;
    grid-row: 4/5; }

.acc-title {
  text-align: center;
  text-decoration: underline;
  font-size: 7rem;
  font-weight: 700;
  margin-bottom: 10rem;
  margin-top: 5rem; }

.products {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 100rem;
  border-top: solid 2px blue;
  border-bottom: solid 2px blue;
  background-color: white; }

.item {
  width: 50rem;
  text-align: center;
  margin: 5rem 0rem; }
  .item:not(:last-child) {
    margin-right: 1rem; }
  .item--image {
    max-width: 30rem;
    max-height: 40rem;
    margin-bottom: 1rem; }
  .item--name {
    text-decoration: underline;
    font-weight: 700;
    margin-bottom: 1rem; }
  .item--description {
    text-align: justify;
    padding: 0rem 5rem;
    margin-bottom: 1rem; }
